<h1 class="mt-4">Dashboard </h1>
<p class="lead mb-3">Welcome 
    <span class = "text-success"><%= user.name %></span>
    <i class="fas fa-thumbs-up"></i>
</p>
<p class="lead mb-3 text-info">Hope you are doing fine</p>
<a href="/users/logout" class="btn btn-secondary text-danger">Logout <i class="fas fa-sign-out-alt"></i></a>
